{% extends 'base.html' %}
{% load static %}

{% block title %}Політика конфіденційності | VseOgolosha{% endblock %}

{% block content %}
<main>
    <div class="container">
        <h1>Політика конфіденційності</h1>
        <p>Ми поважаємо вашу конфіденційність і прагнемо захистити ваші дані.</p>

        <h2>1. Збір інформації</h2>
        <p>Ми збираємо особисту інформацію, коли ви реєструєтесь або використовуєте наш веб-сайт.</p>

        <h2>2. Використання інформації</h2>
        <p>Зібрана інформація використовується для покращення нашого сервісу та забезпечення вашої безпеки.</p>

        <h2>3. Захист даних</h2>
        <p>Ми вживаємо необхідних заходів для захисту ваших даних від несанкціонованого доступу.</p>
    </div>
</main>
{% endblock %}
