{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/support.css' %}">
{% endblock %}
{% block title %}Відповідь на запитання{% endblock %}

{% block content %}
<div class="container">
    <h1 class="category-title">Відповідь на запитання</h1>
    <div class="question-item">
        <p><strong>Користувач:</strong> {{ question.user.name }}</p>
        <p><strong>Запитання:</strong> {{ question.text }}</p>
        <form method="POST">
            {% csrf_token %}
            <textarea name="answer" class="form-control" rows="5" placeholder="Введіть відповідь"></textarea>
            <button type="submit" class="btn btn-primary">Надіслати</button>
        </form>
    </div>
</div>
{% endblock %}