{% extends 'base.html' %}
{% load static %}

{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/support.css' %}">
{% endblock %}
{% block title %}Запитання підтримки{% endblock %}

{% block content %}
<div class="container">
    <h1 class="category-title">Запитання користувачів</h1>
    <div class="question-list">
        {% for question in questions %}
        <div class="question-item">
            <p><strong>Користувач:</strong> {{ question.user.name }}</p>
            <p><strong>Запитання:</strong> {{ question.text }}</p>
            <p><strong>Дата:</strong> {{ question.created_at }}</p>
            <a href="{% url 'support:answer_question' question.id %}" class="btn btn-primary">Відповісти</a>
        </div>
        {% empty %}
        <p>Немає відкритих запитань.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}